In [1]:
# Imports: first run pip install below
import csv
import pandas as pd
from pyspark.sql import SparkSession

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 281.4 MB 23 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 198 kB 65.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=755e69283e4a5ad3a868d8cdb15d31c224d028d02119b9fe99590234737f4f3c
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
bitcoin_path = "Resources/coin_Bitcoin.csv"
# tweets_path = "Resources/Bitcoin_tweets.csv"

# Read World Happiness Data Using File Path
#bitcoin_df = pd.read_csv(bitcoin_path)
#tweets_data = pd.read_csv(tweets_path)

In [6]:
#bitcoin_df.head()

NameError: ignored

In [ ]:
# tweets_df.head(10)

In [ ]:
#bitcoin_df = bitcoin_df.drop(columns = ["SNo","Name","Symbol"])

In [ ]:
#bitcoin_df.head()

In [4]:
#reading coin_Bitcoin into pyspark
spark = SparkSession.builder.appName("read_csv").getOrCreate()

In [5]:
bitcoin_data = spark.read.csv("gdrive/MyDrive/coin_Bitcoin.csv",sep = ",",inferSchema = True, header = True)

In [6]:
from pyspark import SparkConf, SparkContext

In [7]:
conf = (SparkConf().set("spark.driver.maxResultSize","4g"))

In [8]:
SparkSession.builder.config(conf = conf)

In [6]:
# converting dataframe from pyspark to Pandas
bitcoin_df = bitcoin_data.toPandas()

In [7]:
#Display DF as Pandas, line below removes 3 columns
bitcoin_df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

In [8]:
#Removing 3 columns
bitcoin_df = bitcoin_df.drop(columns = ["SNo","Name","Symbol"])

In [10]:
# reading Bitcoin_tweets into pyspark, attemping to remove double lines
tweets_data = spark.read.csv("gdrive/MyDrive/Bitcoin_tweets.csv",sep = ",",inferSchema = True, header = True,multiLine= True, escape = '\"')

In [11]:
# display DF without double lines
tweets_data.show(5,truncate=False)

+--------------------------------------------+---------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+--------------+------------+---------------+-------------+-------------------+----------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------+-------------------+----------+
|user_name                                   |user_location  |user_description                                                                                                                                                |user_created       |user_followers|user_friends|user_favourites|user_verified|date               |text                                                                                                                                          |hashtags                                 |source             |is_retweet|
+--------------------------------------------+---------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+--------------+------------+---------------+-------------+-------------------+----------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------+-------------------+----------+
|DeSota Wilson                               |Atlanta, GA    |Biz Consultant, real estate, fintech, startups, posts are not the view of my employer, RTs are not endorsements, military brat, @UNC alumnus, ŒöŒëŒ®‚ô¶Ô∏èŒ¶ŒùŒ†, -DW = Me|2009-04-26 20:05:09|8534.0        |7605        |4838           |False        |2021-02-10 23:59:04|Blue Ridge Bank shares halted by NYSE after #bitcoin ATM announcement https://t.co/xaaZmaJKiV @MyBlueRidgeBank‚Ä¶ https://t.co/sgBxMkP1SI       |['bitcoin']                              |Twitter Web App    |false     |
|CryptoND                                    |null           |üòé BITCOINLIVE is a Dutch platform aimed at informing the general public about crypto & technology! üòâ AND promoting it: https://t.co/5RYdRnUSud                |2019-10-17 20:12:10|6769.0        |1532        |25483          |False        |2021-02-10 23:58:48|üòé Today, that's this #Thursday, we will do a "üé¨ Take 2" with our friend @LeoWandersleb, #Btc #wallet #security expe‚Ä¶ https://t.co/go6aDgRml5|['Thursday', 'Btc', 'wallet', 'security']|Twitter for Android|false     |
|Tdlmatias                                   |London, England|IM Academy : The best #forex, #SelfEducation, #Cryptocurrency trading education platform: https://t.co/LUr56q3Q19 üôã‚Äç‚ôÇÔ∏è üí∞ üí∞in the World üó∫..                  |2014-11-10 10:50:37|128.0         |332         |924            |False        |2021-02-10 23:54:48|Guys evening, I have read this article about BTC and would like to share with you all - https://t.co/QxCZgmuy3B‚Ä¶ https://t.co/o6wn7ppkVY      |null                                     |Twitter Web App    |false     |
|Crypto is the future                        |null           |I will post a lot of buying signals for BTC trading, so I hope that you block me. Drop all everything, Buy Bitcoin for the future I was together with you!      |2019-09-28 16:48:12|625.0         |129         |14             |False        |2021-02-10 23:54:33|$BTC A big chance in a billion! Price: \4872644.0 (2021/02/11 08:51) #Bitcoin #FX #BTC #crypto                                                |['Bitcoin', 'FX', 'BTC', 'crypto']       |dlvr.it            |false     |
|Alex Kirchmaier üá¶üáπüá∏üá™ #FactsSuperspreader|Europa         |Co-founder @RENJERJerky | Forbes 30Under30 | Innovation Economist, Lateral Thinker, Futurist, #Crypto-enthusiast, facts over ideology! \n#Bitcoin               |2016-02-03 13:15:55|1249.0        |1472        |10482          |False        |2021-02-10 23:54:06|This network is secured by 9 508 nodes as of today. Soon, the biggest bears will recognise: #BTC in too big to fail‚Ä¶ https://t.co/1XovDA8rKw  |['BTC']                                  |Twitter Web App    |false     |
+--------------------------------------------+---------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+--------------+------------+---------------+-------------+-------------------+----------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------+-------------------+----------+
only showing top 5 rows

In [12]:
#dropping coulmns from DF
tweets_data = tweets_data.drop("user_name", "hashtags", "source", "is_retweet", "user_created","user_location" )

In [13]:
#checking data types to convert
tweets_data.printSchema()

root
 |-- user_description: string (nullable = true)
 |-- user_followers: string (nullable = true)
 |-- user_friends: string (nullable = true)
 |-- user_favourites: string (nullable = true)
 |-- user_verified: string (nullable = true)
 |-- date: string (nullable = true)
 |-- text: string (nullable = true)

In [14]:
#displaying DF with dropped columns
tweets_data.show(5,truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+------------+---------------+-------------+-------------------+----------------------------------------------------------------------------------------------------------------------------------------------+
|user_description                                                                                                                                                |user_followers|user_friends|user_favourites|user_verified|date               |text                                                                                                                                          |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+------------+---------------+-------------+-------------------+----------------------------------------------------------------------------------------------------------------------------------------------+
|Biz Consultant, real estate, fintech, startups, posts are not the view of my employer, RTs are not endorsements, military brat, @UNC alumnus, ŒöŒëŒ®‚ô¶Ô∏èŒ¶ŒùŒ†, -DW = Me|8534.0        |7605        |4838           |False        |2021-02-10 23:59:04|Blue Ridge Bank shares halted by NYSE after #bitcoin ATM announcement https://t.co/xaaZmaJKiV @MyBlueRidgeBank‚Ä¶ https://t.co/sgBxMkP1SI       |
|üòé BITCOINLIVE is a Dutch platform aimed at informing the general public about crypto & technology! üòâ AND promoting it: https://t.co/5RYdRnUSud                |6769.0        |1532        |25483          |False        |2021-02-10 23:58:48|üòé Today, that's this #Thursday, we will do a "üé¨ Take 2" with our friend @LeoWandersleb, #Btc #wallet #security expe‚Ä¶ https://t.co/go6aDgRml5|
|IM Academy : The best #forex, #SelfEducation, #Cryptocurrency trading education platform: https://t.co/LUr56q3Q19 üôã‚Äç‚ôÇÔ∏è üí∞ üí∞in the World üó∫..                  |128.0         |332         |924            |False        |2021-02-10 23:54:48|Guys evening, I have read this article about BTC and would like to share with you all - https://t.co/QxCZgmuy3B‚Ä¶ https://t.co/o6wn7ppkVY      |
|I will post a lot of buying signals for BTC trading, so I hope that you block me. Drop all everything, Buy Bitcoin for the future I was together with you!      |625.0         |129         |14             |False        |2021-02-10 23:54:33|$BTC A big chance in a billion! Price: \4872644.0 (2021/02/11 08:51) #Bitcoin #FX #BTC #crypto                                                |
|Co-founder @RENJERJerky | Forbes 30Under30 | Innovation Economist, Lateral Thinker, Futurist, #Crypto-enthusiast, facts over ideology! \n#Bitcoin               |1249.0        |1472        |10482          |False        |2021-02-10 23:54:06|This network is secured by 9 508 nodes as of today. Soon, the biggest bears will recognise: #BTC in too big to fail‚Ä¶ https://t.co/1XovDA8rKw  |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+------------+---------------+-------------+-------------------+----------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [15]:
#removing rows with missing values: NA/NULL .show(truncate=False)
tweets_data = tweets_data.na.drop(how="any")

In [16]:
#display DF without NULL
tweets_data.show(10,truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+------------+---------------+-------------+-------------------+-------------------------------------------------------------------------------------------------------------------------------------------------+
|user_description                                                                                                                                                |user_followers|user_friends|user_favourites|user_verified|date               |text                                                                                                                                             |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+------------+---------------+-------------+-------------------+-------------------------------------------------------------------------------------------------------------------------------------------------+
|Biz Consultant, real estate, fintech, startups, posts are not the view of my employer, RTs are not endorsements, military brat, @UNC alumnus, ŒöŒëŒ®‚ô¶Ô∏èŒ¶ŒùŒ†, -DW = Me|8534.0        |7605        |4838           |False        |2021-02-10 23:59:04|Blue Ridge Bank shares halted by NYSE after #bitcoin ATM announcement https://t.co/xaaZmaJKiV @MyBlueRidgeBank‚Ä¶ https://t.co/sgBxMkP1SI          |
|üòé BITCOINLIVE is a Dutch platform aimed at informing the general public about crypto & technology! üòâ AND promoting it: https://t.co/5RYdRnUSud                |6769.0        |1532        |25483          |False        |2021-02-10 23:58:48|üòé Today, that's this #Thursday, we will do a "üé¨ Take 2" with our friend @LeoWandersleb, #Btc #wallet #security expe‚Ä¶ https://t.co/go6aDgRml5   |
|IM Academy : The best #forex, #SelfEducation, #Cryptocurrency trading education platform: https://t.co/LUr56q3Q19 üôã‚Äç‚ôÇÔ∏è üí∞ üí∞in the World üó∫..                  |128.0         |332         |924            |False        |2021-02-10 23:54:48|Guys evening, I have read this article about BTC and would like to share with you all - https://t.co/QxCZgmuy3B‚Ä¶ https://t.co/o6wn7ppkVY         |
|I will post a lot of buying signals for BTC trading, so I hope that you block me. Drop all everything, Buy Bitcoin for the future I was together with you!      |625.0         |129         |14             |False        |2021-02-10 23:54:33|$BTC A big chance in a billion! Price: \4872644.0 (2021/02/11 08:51) #Bitcoin #FX #BTC #crypto                                                   |
|Co-founder @RENJERJerky | Forbes 30Under30 | Innovation Economist, Lateral Thinker, Futurist, #Crypto-enthusiast, facts over ideology! \n#Bitcoin               |1249.0        |1472        |10482          |False        |2021-02-10 23:54:06|This network is secured by 9 508 nodes as of today. Soon, the biggest bears will recognise: #BTC in too big to fail‚Ä¶ https://t.co/1XovDA8rKw     |
|I'm a cat slave üê± Interested in Blockchain ¬∑ Tech ¬∑ Internet Marketing ¬∑ Affliate ¬∑ Legit Airdrop. Have a nice day! ‚ó°Ãà Handcash: $zerrbenz                     |742.0         |716         |2444           |False        |2021-02-10 23:53:30|üíπ Trade #Crypto on #Binance \n\nüìå Enjoy #Cashback 10% of the Trading fee\nüìå Sign up link üëâ https://t.co/T4WttWeohc‚Ä¶ https://t.co/Fc7dG5oI8W  |
|Bot to generate Bitcoin picture as combinations of icons with random quotes. message in about every two hours.                                                  |131.0         |84          |5728           |False        |2021-02-10 23:53:17|&lt;'fire' &amp; 'man'&gt;\n#Bitcoin #Crypto #BTC https://t.co/CV9IyODy55                                                                        |
|Stay updated on the main cryptocurrencies of the market | @cryptosUSD for USD | Do you miss any coin? ‚û°Ô∏è DMs open                                               |4052.0        |1           |9              |False        |2021-02-10 23:52:42|üîÑ Prices update in $EUR (1 hour):\n\n$BTC   - 37082.1 ‚Ç¨  (-0.51 %)\n$ETH   - 1441.59 ‚Ç¨  (+0.21 %)\n$XRP   - 0.42 ‚Ç¨    (‚Ä¶ https://t.co/y3wlhAv2SX|
|Technical Analyst | Trader\n\nNo certainty, only possibilities.                                                                                                 |104.0         |41          |238            |False        |2021-02-10 23:52:25|#BTC #Bitcoin #Ethereum #ETH #Crypto #cryptotrading \n\n$RSR I know i told you guys the target was $0.060, i know we‚Ä¶ https://t.co/bvEtSnhs67    |
|Biz Consultant, real estate, fintech, startups, posts are not the view of my employer, RTs are not endorsements, military brat, @UNC alumnus, ŒöŒëŒ®‚ô¶Ô∏èŒ¶ŒùŒ†, -DW = Me|8534.0        |7605        |4838           |False        |2021-02-10 23:52:08|.@Tesla‚Äôs #bitcoin investment is revolutionary for #crypto but other firms may not do the same just yet - @JPMorgan‚Ä¶ https://t.co/WyKWfh0ELw     |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+------------+---------------+-------------+-------------------+-------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [17]:
# displaying the current data type to change
tweets_data.printSchema()

root
 |-- user_description: string (nullable = true)
 |-- user_followers: string (nullable = true)
 |-- user_friends: string (nullable = true)
 |-- user_favourites: string (nullable = true)
 |-- user_verified: string (nullable = true)
 |-- date: string (nullable = true)
 |-- text: string (nullable = true)

In [18]:
bitcoin_data.printSchema()

root
 |-- SNo: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Symbol: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Open: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: double (nullable = true)
 |-- Marketcap: double (nullable = true)

In [19]:
#changing the following to appropriate data types and diplaying correctly
from pyspark.sql.functions import col
from pyspark.sql.types import StringType,BooleanType,DateType, IntegerType
tweets_data = tweets_data.withColumn("user_followers",col("user_followers").cast(IntegerType())) \
    .withColumn("user_friends",col("user_friends").cast(IntegerType())) \
    .withColumn("user_favourites",col("user_favourites").cast(IntegerType())) \
    .withColumn("user_verified",col("user_verified").cast(BooleanType())) \
    .withColumn("date",col("date").cast(DateType()))
tweets_data.printSchema()

root
 |-- user_description: string (nullable = true)
 |-- user_followers: integer (nullable = true)
 |-- user_friends: integer (nullable = true)
 |-- user_favourites: integer (nullable = true)
 |-- user_verified: boolean (nullable = true)
 |-- date: date (nullable = true)
 |-- text: string (nullable = true)

In [20]:
#changing names of cloumns
tweets_data = tweets_data.withColumnRenamed("user_description","Bio") \
    .withColumnRenamed("user_followers","Followers") \
    .withColumnRenamed("user_friends","Following") \
    .withColumnRenamed("user_favourites","Likes") \
    .withColumnRenamed("user_verified","Verified User") \
    .withColumnRenamed("date","Date") \
    .withColumnRenamed("text","Tweet") 
tweets_data.printSchema()

root
 |-- Bio: string (nullable = true)
 |-- Followers: integer (nullable = true)
 |-- Following: integer (nullable = true)
 |-- Likes: integer (nullable = true)
 |-- Verified User: boolean (nullable = true)
 |-- Date: date (nullable = true)
 |-- Tweet: string (nullable = true)

In [21]:
tweets_data = tweets_data.withColumn("Verified User",col("Verified User").cast(IntegerType()))

In [22]:
#displaying new column names
tweets_data.show(5,truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+---------+-----+-------------+----------+----------------------------------------------------------------------------------------------------------------------------------------------+
|Bio                                                                                                                                                             |Followers|Following|Likes|Verified User|Date      |Tweet                                                                                                                                         |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+---------+-----+-------------+----------+----------------------------------------------------------------------------------------------------------------------------------------------+
|Biz Consultant, real estate, fintech, startups, posts are not the view of my employer, RTs are not endorsements, military brat, @UNC alumnus, ŒöŒëŒ®‚ô¶Ô∏èŒ¶ŒùŒ†, -DW = Me|8534     |7605     |4838 |0            |2021-02-10|Blue Ridge Bank shares halted by NYSE after #bitcoin ATM announcement https://t.co/xaaZmaJKiV @MyBlueRidgeBank‚Ä¶ https://t.co/sgBxMkP1SI       |
|üòé BITCOINLIVE is a Dutch platform aimed at informing the general public about crypto & technology! üòâ AND promoting it: https://t.co/5RYdRnUSud                |6769     |1532     |25483|0            |2021-02-10|üòé Today, that's this #Thursday, we will do a "üé¨ Take 2" with our friend @LeoWandersleb, #Btc #wallet #security expe‚Ä¶ https://t.co/go6aDgRml5|
|IM Academy : The best #forex, #SelfEducation, #Cryptocurrency trading education platform: https://t.co/LUr56q3Q19 üôã‚Äç‚ôÇÔ∏è üí∞ üí∞in the World üó∫..                  |128      |332      |924  |0            |2021-02-10|Guys evening, I have read this article about BTC and would like to share with you all - https://t.co/QxCZgmuy3B‚Ä¶ https://t.co/o6wn7ppkVY      |
|I will post a lot of buying signals for BTC trading, so I hope that you block me. Drop all everything, Buy Bitcoin for the future I was together with you!      |625      |129      |14   |0            |2021-02-10|$BTC A big chance in a billion! Price: \4872644.0 (2021/02/11 08:51) #Bitcoin #FX #BTC #crypto                                                |
|Co-founder @RENJERJerky | Forbes 30Under30 | Innovation Economist, Lateral Thinker, Futurist, #Crypto-enthusiast, facts over ideology! \n#Bitcoin               |1249     |1472     |10482|0            |2021-02-10|This network is secured by 9 508 nodes as of today. Soon, the biggest bears will recognise: #BTC in too big to fail‚Ä¶ https://t.co/1XovDA8rKw  |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+---------+-----+-------------+----------+----------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [23]:

tweets_data.groupBy("Date").sum("Verified User").count()

167

In [24]:
from pyspark.sql.functions import desc
tweets_data.groupBy("Date").sum("Likes").show()
#tweets_data.groupBy("Date").count().show(10)
#tweets_data.groupBy("Date").max("Likes").show()
#tweets_data.count().filter("Likes").sort(desc("Likes")).show

+----------+----------+
|      Date|sum(Likes)|
+----------+----------+
|2021-06-22| 352176410|
|2021-11-25| 200579166|
|2021-07-20| 255517385|
|2021-07-30| 244843586|
|2022-05-26| 109759666|
|2021-07-17| 119150467|
|2022-03-16| 246814936|
|2021-04-24|  18160630|
|2021-07-23| 462135352|
|2021-02-15|  29916623|
|2022-03-15| 149757850|
|2021-08-21|  81507219|
|2021-07-19| 231502452|
|2022-02-16|  16354844|
|2022-05-01| 330266650|
|2021-11-11| 120246331|
|2022-04-27|  12070735|
|2022-03-22|    692848|
|2021-05-29|  16838480|
|2022-05-23|  34009313|
+----------+----------+
only showing top 20 rows

In [25]:
tweets_data.groupBy("Date").count().show(10)

+----------+-----+
|      Date|count|
+----------+-----+
|2021-06-22|41229|
|2021-11-25|32446|
|2021-07-20|28271|
|2021-07-30|34064|
|2022-05-26|18870|
|2021-07-17|13756|
|2022-03-16|36135|
|2021-04-24| 3703|
|2021-07-23|39262|
|2021-02-15| 4323|
+----------+-----+
only showing top 10 rows

In [26]:
tweets_data.groupBy("Date").max("Likes").show()

+----------+----------+
|      Date|max(Likes)|
+----------+----------+
|2021-06-22|   1178851|
|2021-11-25|    468277|
|2021-07-20|   1091965|
|2021-07-30|    458537|
|2022-05-26|    350505|
|2021-07-17|    525350|
|2022-03-16|    479351|
|2021-04-24|    297752|
|2021-07-23|   1119654|
|2021-02-15|    338292|
|2022-03-15|    399286|
|2021-08-21|    437289|
|2021-07-19|    525350|
|2022-02-16|    402634|
|2022-05-01|   1185823|
|2021-11-11|    588543|
|2022-04-27|    218936|
|2022-03-22|    239934|
|2021-05-29|    287483|
|2022-05-23|    421395|
+----------+----------+
only showing top 20 rows

In [27]:
from pyspark.sql.functions import sum,avg,max,min,mean,count

In [28]:
# tweets_data.groupBy("Date").sum("Verified User").show()
# tweets_data.groupBy("Date").sum("Likes").show()
# tweets_data.groupBy("Date").count().show(10)
# tweets_data.groupBy("Date").max("Likes").show()

tweets_data_group = tweets_data.groupBy("Date") \
    .agg(sum("Verified User").alias("Verified_User"), \
         sum("Likes").alias("Likes_Sum"), \
         max("Likes").alias("Likes"), \
         count("Date").alias("Date_Count"),\
     )

In [33]:
if isinstance(output,pd.DataFrame):
  print("Pandas")
else :
  print("Spark")

Spark

In [29]:
tweets_data_group.count()

167

In [30]:
tweets_data_group.show()

+----------+-------------+---------+-------+----------+
|      Date|Verified_User|Likes_Sum|  Likes|Date_Count|
+----------+-------------+---------+-------+----------+
|2021-06-22|          479|352176410|1178851|     41229|
|2021-11-25|          214|200579166| 468277|     32446|
|2021-07-20|          481|255517385|1091965|     28271|
|2021-07-30|          291|244843586| 458537|     34064|
|2022-05-26|           84|109759666| 350505|     18870|
|2021-07-17|          259|119150467| 525350|     13756|
|2022-03-16|          305|246814936| 479351|     36135|
|2021-04-24|           12| 18160630| 297752|      3703|
|2021-07-23|         1025|462135352|1119654|     39262|
|2021-02-15|           21| 29916623| 338292|      4323|
|2022-03-15|          130|149757850| 399286|     26817|
|2021-08-21|           44| 81507219| 437289|      9771|
|2021-07-19|          347|231502452| 525350|     25742|
|2022-02-16|            5| 16354844| 402634|      3209|
|2022-05-01|          272|330266650|1185823|     40282|
|2021-11-11|          162|120246331| 588543|     17656|
|2022-04-27|            1| 12070735| 218936|      1817|
|2022-03-22|            0|   692848| 239934|        76|
|2021-05-29|           14| 16838480| 287483|      4126|
|2022-05-23|           48| 34009313| 421395|      4429|
+----------+-------------+---------+-------+----------+
only showing top 20 rows

In [31]:
tweets_df = tweets_data_group.toPandas()

In [39]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           166 non-null    datetime64[ns]
 1   Verified_User  166 non-null    float64
 2   Likes_Sum      167 non-null    int64
 3   Likes          167 non-null    int32
 4   Date_Count     167 non-null    int64
dtypes: datetime64[ns](1), float64(1), int32(1), int64(2)
memory usage: 6.0 KB

In [36]:
tweets_df["Date"]=pd.to_datetime(tweets_df["Date"])

bitcoin_df["Date"]=pd.to_datetime(bitcoin_df["Date"])

In [38]:
bitcoin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991 entries, 0 to 2990
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2991 non-null   datetime64[ns]
 1   High       2991 non-null   float64
 2   Low        2991 non-null   float64
 3   Open       2991 non-null   float64
 4   Close      2991 non-null   float64
 5   Volume     2991 non-null   float64
 6   Marketcap  2991 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 163.7 KB

In [40]:
output = bitcoin_df.merge(tweets_df,how = "left", on = ["Date"])

In [41]:
output.head()

,Date,High,Low,Open,Close,Volume,Marketcap,Verified_User,Likes_Sum,Likes,Date_Count
0,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09,NaN,NaN,NaN,NaN
1,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09,NaN,NaN,NaN,NaN
2,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09,NaN,NaN,NaN,NaN
3,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09,NaN,NaN,NaN,NaN
4,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09,NaN,NaN,NaN,NaN

In [42]:
database_url = "postgresql://bugwdjxgtoodzb:61e35d05781b14efdc8b1b0c8f6dd9cb762f400da9f9745696c20140cbc89b73@ec2-34-198-186-145.compute-1.amazonaws.com:5432/dbflcle3u0c6m9"

In [44]:
from sqlalchemy import create_engine
engine = create_engine(database_url)
output.to_sql('crypto_tweets', engine,if_exists='replace',
                  index=False,
                  method='multi')

In [45]:
output_read = pd.read_sql_table("crypto_tweets",engine)
output_read.head()

,Date,High,Low,Open,Close,Volume,Marketcap,Verified_User,Likes_Sum,Likes,Date_Count
0,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09,NaN,NaN,NaN,NaN
1,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09,NaN,NaN,NaN,NaN
2,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09,NaN,NaN,NaN,NaN
3,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09,NaN,NaN,NaN,NaN
4,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09,NaN,NaN,NaN,NaN